<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.url">
            jdbc:mysql://192.168.0.102:3306/itailor?characterEncoding=utf-8
        </property>
        <property name="connection.username">hunters</property>
        <property name="connection.password">hunters</property>
        <property name="dialect">
            org.hibernate.dialect.MySQL5Dialect
        </property>
        <property name="show_sql">true</property>
        <property name="format_sql">true</property>
        <property name="connection.pool_size">1</property>
        <property name="hibernate.hbm2ddl.auto">update</property>
        <!--<property name="hibernate.hbm2ddl.auto">create-drop</property>-->
        <property name="current_session_context_class">thread</property>
        <!--<mapping class="hibernate.recommendation.User"/>-->
        <!--<mapping class="hibernate.elements.Colors"/>-->
        <!--<mapping class="hibernate.elements.Color"/>-->
        <mapping class="hibernate.community.AccessControl"/>
        <mapping class="hibernate.community.Account"/>
        <mapping class="hibernate.community.Message"/>
        <mapping class="hibernate.community.Comment"/>
        <!--<mapping class="hibernate.community.Feedback"/>-->
        <mapping class="hibernate.community.Group"/>
        <mapping class="hibernate.community.ShareItem"/>
        <mapping class="hibernate.community.LoginRecord"/>
        <mapping class="hibernate.community.TimeLine"/>
        <mapping class="hibernate.recommendation.User"/>
        <mapping class="hibernate.recommendation.Resource"/>
        <mapping class="hibernate.recommendation.PreferenceMatrix"/>
        <mapping class="hibernate.recommendation.favors.FavorElement"/>
        <mapping class="hibernate.recommendation.favors.FavorStyle"/>
        <mapping class="hibernate.recommendation.favors.FavorScene"/>
        <mapping class="hibernate.recommendation.favors.FavorClothingMaterial"/>
        <mapping class="hibernate.recommendation.favors.FavorPriceRange"/>
        <mapping class="hibernate.recommendation.favors.FavorResource"/>
        <mapping class="hibernate.recommendation.favors.FavorTimeRange"/>
        <mapping class="hibernate.recommendation.favors.FavorColor"/>
        <mapping class="hibernate.elements.Element"/>
        <mapping class="hibernate.elements.Color"/>
        <mapping class="hibernate.elements.TimeRange"/>
        <mapping class="hibernate.elements.Style"/>
        <mapping class="hibernate.elements.PriceRange"/>
        <mapping class="hibernate.elements.Element"/>
        <mapping class="hibernate.elements.Scene"/>
        <mapping class="hibernate.elements.ClothingMaterial"/>
        <mapping class="hibernate.elements.ClothingShape"/>
        <mapping class="hibernate.recommendation.Body"/>
        <mapping class="hibernate.recommendation.BodyStatus"/>
        <mapping class="hibernate.recommendation.ClothingImage"/>
        <mapping class="hibernate.recommendation.RecommendedResource"/>
        <mapping class="hibernate.recommendation.Wardrobe"/>
        <mapping class="hibernate.recommendation.SearchWord"/>
        <!--<mapping class="crawler.Item"/>-->
    </session-factory>
</hibernate-configuration>